<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Telepathology</title>
    <!-- Core theme CSS-->
   
    <link  rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/custom.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/web-icons.css') }}">
    <script src="static/js/bootstrap.bundle.min.js"></script>


</head>

<body>
    <header>
        <div class="container-fluid px-lg-4">
            <div class="">
                <nav class="navbar navbar-expand-lg bg-body-tertiary py-0 main-menu-nav">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="pe-lg-5">
                            <img src="static/images/app-logo.svg" class="app-logo">
                        </div>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         
                          <li class="nav-item">
                            <a class="nav-link" href="/register">Register Patient</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/">Registration Summary</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/testmaster">Test Master</a></li>
                                <li><a class="dropdown-item" href="/pathologistmaster">Pathologist Master</a></li>
                                <li><a class="dropdown-item" href="/refdrmaster">Ref Dr Master</a></li>
                                <li><a class="dropdown-item" href="/reportformat">Report Format</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                          </li>
                        </ul>
                      </div>
                      <div >
                        <ul class="nav menu-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="bi bi-person-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    
    <main>
        <form method="POST"> 
        <div class="mb-4">
        <h5 class="page-heading">Add Test</h5>
        </div>
        <div class="auto-scroll">
            <div class="bg-white rounded-2 p-3 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Test code</label   >
                            <input type="text" name = "testcode"  value="{{testcode}}" class="form-control" readonly >
                        </div> 
                        </div>
                   
                    <div class="col-md-4">
                                <label class="form-label">Test Name</label>
                                <input type="text" name = "testname"  class="form-control" required>
                       
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">specimen_type</label>
                                <input type="text" name = "specimentype"  class="form-control"required >
                       
                            </div>
                        </div>
                    </div>
                   
                <div class="form-group d-flex gap-3 justify-content-center">
                    <button type="button" class="theme-btn" onclick="history.back()">Back</button>
                    <button type="submit" class="theme-btn">Save</button>
                    <button type="reset" class="theme-btn">Clear</button>
                    
               
                </div>
            </div>

        </div>
    </form>
    </main>
</body>

</html>

