<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Telepathology</title>
    <!-- Core theme CSS-->
   
    <link  rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/custom.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/web-icons.css') }}">
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <header>
        <div class="container-fluid px-lg-4">
            <div class="">
                <nav class="navbar navbar-expand-lg bg-body-tertiary py-0 main-menu-nav">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="pe-lg-5">
                            <img src="static/images/app-logo.svg" class="app-logo">
                        </div>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          
                          <li class="nav-item">
                            <a class="nav-link" href="/register">Register Patient</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/">Registration Summary</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/testmaster">Test Master</a></li>
                              <li><a class="dropdown-item" href="/pathologistmaster">Pathologist Master</a></li>
                              <li><a class="dropdown-item" href="/refdrmaster">Ref Dr Master</a></li>
                              <li><a class="dropdown-item" href="/reportformat">Report Format</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                          </li>
                        </ul>
                      </div>
                      <div >
                        <ul class="nav menu-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="bi bi-person-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    
<html lang="en">   
<main>
        <div class="mb-4">
            <form method="POST">
               <h5 class="page-heading">Add Visit</h5>
        </div>
        
        <div class="auto-scroll">
            <div class="bg-white rounded-2 p-3 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">UHID</label>
                            <input type="text"  value="{{ visit.uhid }}" name="uhid" class="form-control" readonly    >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex gap-3">
                            <div class="w-50">
                                <label class="form-label">Title</label>
                                <input type="text"  value="{{ visit.title }}" name="title" class="form-control"  readonly   >
                            </div>
                            <div class="w-50">
                                <label class="form-label">Gender</label>
                                <input type="text"  value="{{ visit.gender }}" name="gender" class="form-control" readonly    >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Patient Name</label>
                            <input type="text"  value="{{ visit.patient_name }}" name="patient_name" class="form-control"  readonly   >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex gap-3">
                            <div class="w-75">
                                <label class="form-label">DOB</label>
                                <input type="text" value="{{ visit.dob }}" name="dob" class="form-control" readonly>
                            </div>
                            <div class="w-25">
                                <label class="form-label">Age</label>
                                <input type="text"  value="{{ visit.age }}" name="age" class="form-control"  readonly   >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Email ID</label>
                            <input type="text"  value="{{ visit.email_id }}" name="email_id" class="form-control" readonly    >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Contact Number</label>
                            <input type="text"  value="{{ visit.contact_number }}" name="contact_number" class="form-control"   readonly  >
                        </div>
                    </div>
                 
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <input type="text"  value="{{ visit.Address }}" name="Address" class="form-control"  readonly   >
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                         <div class="form-group">
                           <label class="form-label">Ref Dr</label>
                           <select class="form-select" value="{{ visit.ref_dr }}" name="ref_dr">
                            <option value="" selected>Please select Ref Dr</option>
                              {% for refdr in refdrs %}
                              <option>{{ refdr.DoctorName }}</option>
                              {% endfor %}
                            </select>
                            
                          </div>
                        </div>
                      
                      
                      <div class="col-md-4">
                        <label class="form-label">Select Test</label>
                        <select class="form-select" value="{{ visit.select_test }}" name="select_test" >
                            <option value="" selected>Please select test</option>
                            {% for test in selecttest %}
                            <option>{{ test.testname }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    
                   
                    
                    <div class="py-4 text-center">
                        <button type="submit" class="theme-btn mx-auto">Submit</button>
                    </div>
                    </form>
                    </div>
                    </main>
                    </html>
                   
                   