<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Telepathology</title>
    <!-- Core theme CSS-->
   
    <link  rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/custom.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/web-icons.css') }}">
    <script src="static/js/bootstrap.bundle.min.js"></script>
    {{ ckeditor.load() }}

    <script>
        function submitForm() {
            // Get the form element
            document.getElementById('hid').value = 'valuechanged'
            var form = document.getElementById('reportForm');
           
            
            // Submit the form
            form.submit();
        }
        function submitform2(){
            document.getElementById('hid').value = 'value'
            var form = document.getElementById('reportForm');
           
            
            // Submit the form
            form.submit();
        }
    </script>
   
    
</head>

<body>
    <header>
        <div class="container-fluid px-lg-4">
            <div class="">
                <nav class="navbar navbar-expand-lg bg-body-tertiary py-0 main-menu-nav">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="pe-lg-5">
                            <img src="static/images/app-logo.svg" class="app-logo">
                        </div>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          
                          <li class="nav-item">
                            <a class="nav-link" href="/register">Register Patient</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/">Registration Summary</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/testmaster">Test Master</a></li>
                                <li><a class="dropdown-item" href="/pathologistmaster">Pathologist Master</a></li>
                                <li><a class="dropdown-item" href="/refdrmaster">Ref Dr Master</a></li>
                                <li><a class="dropdown-item" href="/reportformat">Report Format</a></li>
                                <li><a class="dropdown-item" href="/addrouter">Router</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                          </li>
                        </ul>
                      </div>
                      <div >
                        <ul class="nav menu-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="bi bi-person-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
<main>
    

    <form method="POST" id="reportForm">
        
        <div class="mb-4">
            <h5 class="page-heading">Add Report</h5>
        </div>
        <div class="auto-scroll">
            <div class="bg-white rounded-2 p-3 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">PatientName</label>
                            <input type="text" name="patientname" value= "{{visit.patient_name}}" class="form-control" readonly>
                            <input type="hidden" name="visitid" value="{{visit.visitid}}">
                        </div>
                    </div>
                    
                  
                    <div class="col-md-4">
                        <label class="form-label">Pathologist</label>
                        <select class="form-select" name="pathologistid">
                         <option value="example">Please select Ref Dr</option>
                         {% for pathologist in pathologists %}
                            {% if pathologist.DoctorCode == pathologistid %}
                                <option value="{{pathologist.DoctorCode}}" selected>{{ pathologist.DoctorName }}</option>
                            {% else %}
                                <option value="{{pathologist.DoctorCode}}">{{ pathologist.DoctorName }}</option>
                            {% endif %}
                          {% endfor %}
                         </select>
                         </div>

                         <div class="col-md-4">
                            <label class="form-label">Template</label>
                            <select class="form-select" name="templateid" onchange="submitForm()">
                                <option value="">Please select Template</option>
                                {% for template in templates %}
                                    {% if template.id == templateid %}
                                        <option value="{{ template.id }}" selected>{{ template.reportname }}</option>
                                    {% else %}
                                        <option value="{{ template.id }}">{{ template.reportname }}</option>
                                    {% endif %}

                                {% endfor %} 
                            </select>
                        </div>
    
                        <!-- <div class="col-md-12">
                            <label class="form-label">Report Content</label>
                            {% for template in templates %}
                            {{ ckeditor.create(value=template.template) }}
                         {% endfor %}
                        </div> -->

                        <div class="col-md-12">
                            <label class="form-label">Report Content</label>
                            {% if temp == None %}
                                {{ckeditor.create(name='template')}}
                            {% else %}
                            {{ ckeditor.create(value=temp.template,name='template') }}
                            {% endif %}
                        </div>
    
                    <div class="col-md-12 mt-3">
                        <button type="button" class="btn btn-primary" onclick="submitform2()">Submit</button>
                        <input type="hidden" value="" id="hid" name="hidd">
                    </div>
                </div>
                </div>
            </div>

        </div>
    </form>
 

                        