<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Telepathology</title>
    <!-- Core theme CSS-->
   
    <link  rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/custom.css') }}">
    <link  rel="stylesheet" href="{{url_for('static', filename='css/web-icons.css') }}">
    <script src="static/js/bootstrap.bundle.min.js"></script>


</head>

<body>
    <header>
        <div class="container-fluid px-lg-4">
            <div class="">
                <nav class="navbar navbar-expand-lg bg-body-tertiary py-0 main-menu-nav">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="pe-lg-5">
                            <img src="static/images/app-logo.svg" class="app-logo">
                        </div>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         
                          <li class="nav-item">
                            <a class="nav-link" href="/register">Register Patient</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/">Registration Summary</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/testmaster">Test Master</a></li>
                                <li><a class="dropdown-item" href="/pathologistmaster">Pathologist Master</a></li>
                                <li><a class="dropdown-item" href="/refdrmaster">Ref Dr Master</a></li>
                                <li><a class="dropdown-item" href="/reportformat">Report Format</a></li>
                                <li><a class="dropdown-item" href="/addrouter">Router</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                          </li>
                        </ul>
                      </div>
                      <div >
                        <ul class="nav menu-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="bi bi-person-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    
    <main>
        <form method="POST"> 
        <div class="mb-4">
        <h5 class="page-heading">Add Router</h5>
        </div>
        <div class="auto-scroll">
            <div class="bg-white rounded-2 p-3 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">AE title</label   >
                            <input type="text" name = "aetitle"   class="form-control"  >
                        </div> 
                        </div>
                   
                    <div class="col-md-4">
                                <label class="form-label">IP address</label>
                                <input type="text" name = "ipaddress"  class="form-control" required>
                       
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Port number</label>
                                <input type="text" name = "portnumber"  class="form-control"required >
                       
                            </div>
                        </div>
                    </div>
                   
                <div class="form-group d-flex gap-3 justify-content-center">
                    <button type="button" class="theme-btn" onclick="history.back()">Back</button>
                    <button type="submit" class="theme-btn">Save</button>
                    <button type="reset" class="theme-btn">Clear</button>
                    
               
                </div>
            </div>

        </div>
    </form>
    </main>
</body>

        </tbody>
      </table>
    </div>
  </div>
</div>
</html>

<div class="bg-white rounded-2 p-3">
    <div class="table-responsive">
      <table class="table table-data">
        <thead>
          <tr>
            <th>Date</th>
            <th>Aetitle</th>
            <th>IPaddress</th>
            <th>Port</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for routers in routers %}
          <tr>
            <td class="text-nowrap">{{ routers.current_date }}</td>
            <td>{{ routers.aetitle }}</td>
            <td class="text-d-blue fw-semibold">{{ routers.ipaddress }}</td>
            <td>{{ routers.portnumber }}</td>
            <td class="text-end">
              <div class="d-flex gap-2 justify-content-end">
                
                  <button type="button" class="table-btn">

                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <title></title>
                        <g id="Complete">
                          <g id="edit">
                            <g>
                              <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                              <polygon fill="none" points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </button>
                </a>
                
                  <button type="button" class="table-btn">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                      <g id="SVGRepo_iconCarrier">
                        <path d="M10 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M14 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </g>
                    </svg>
                  </button>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}